/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}
/* url('images/car.jpeg')  */
body {
    background: url("images/car.jpeg"), linear-gradient(blue, pink);
    background-size: cover !important;
    /* background-blend-mode: luminosity; */
}

a {
	text-decoration: none;
}

.card {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 60vw !important;
  height: 80vh !important;
}